.registration-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 6%;
  padding: 30px 44px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /*background-color: #f9f9f9;*/
  background-color: #F1F1F1;
  font-family: sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  font-family: sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  /*background-color: #007bff;*/
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px 39%;
  font-family: sans-serif;
}

button:disabled {
  background-color: #333;
  cursor: not-allowed;
  opacity: 0.5;
}

.login {
  text-decoration: none;
  color: #007bff;
}

.error-text{
    color:red;
}

.close {
  cursor: pointer;
  float: right;
  font-size: inherit;
  /*right:1%;*/
  padding: 0;
  padding-right: 29px;
}
