
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$LMS-UI-primary: mat.define-palette(mat.$indigo-palette);
$LMS-UI-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$LMS-UI-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$LMS-UI-theme: mat.define-light-theme((
  color: (
    primary: $LMS-UI-primary,
    accent: $LMS-UI-accent,
    warn: $LMS-UI-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($LMS-UI-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Style for success toast message */
.toast-success {
  background-color: #90EE90; /* Green background for success */
  /*color: #fff;*/ 
}

/* Style for error toast message */
.toast-error {
  background-color: #FFCCCB; /* Red background for error */
  /*color: #fff;*/ 
}

/*.overlay-container {*/
  /*margin-top: 10%;*/
  /*margin-bottom: 90000%;
}*/
/*.toast-top-right {
  bottom: 200px;
  margin: 0 0 200% 0;
  right: 100%;
  left: 100%;
  width: 100%;
}*/

.toast-container {
  margin-top: -46.4%;
  /*margin-top: -16.4%;*/
}

/*.toast-top {*/
  /*bottom: 200px;*/
  /*margin: 0 0 200% 0;
  right: 100%;
  left: 100%;
  width: 100%;
}*/

